<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row" [ngClass]=" { 'has-danger' : (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" #nombre="ngModel" required minlength="3">
        <div class="form-control-feedback" *ngIf=" nombre.touched && nombre.errors?.required ">
          Este campo es requerido
        </div>
        <div class="form-control-feedback" *ngIf="nombre.touched && nombre.errors?.minlength">
          Longitud Invalida. Minimo {{ nombre.errors.minlength.requiredLength }} caracteres
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control" type="text" #apellido="ngModel" placeholder="Apellido" name="apellido" [(ngModel)]="usuario.apellido" required>
        <div *ngIf="apellido.touched && apellido.errors?.required">
          El apellido es obligatorio
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8 has-warning">
      <input class="form-control" type="email" placeholder="Correo electrónico" #email="ngModel" name="email" [(ngModel)]="usuario.correo" required [email]="true">
      <div *ngIf="email.touched && email.errors?.required">
        El email es obligatorio
      </div>
      <div *ngIf="email.touched && email.errors?.email">
        El formato del correo es invalido
      </div>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class="col-md-8">
      <select class="form-control" name="pais" [(ngModel)]="usuario.pais">
          <option selected value="-1">Escoge un pais</option>
          <option *ngFor="let p of paises" [value]="p.codigo"> {{ p.nombre }}</option>
        </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8">
      <label class="custom-control custom-radio" *ngFor="let s of sexos">
              <input id="radio1" [value]="s" name="sexo" type="radio" class="custom-control-input" [(ngModel)]="usuario.sexo">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"> {{ s }}</span>
      </label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Acepta</label>
    <div class="col-md-8">
      <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" name="acepta"  required [(ngModel)]="usuario.acepta" >
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Acepta las condiciones</span>
      </label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary " [disabled]="forma.invalid">
        Guardar
      </button>
    </div>
  </div>



  <pre>
        {{ usuario | json }}
  </pre>`

</form>
