<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand"  [routerLink]="['home']">AuthApp</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  [routerLink]="['precios']">Precios</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="authService.isAuthenticated()">
        <a class="nav-link"  [routerLink]="['protegida']">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text">
     <button class="btn  btn-success btn-block btn-sm"
             (click)="login()"
             *ngIf="!authService.isAuthenticated()"
    >Ingresar
    </button>

     <button 
             class="btn btn-primary btn-block btn-sm"
             *ngIf="authService.isAuthenticated()"
             (click)="logout()"
     >Salir
    </button>
    </span>
  
  
  </div>
</nav>

